*{padding: 0;
  margin: 0;
  box-sizing: border-box;
}
body{background: #151515;
}
header {display:flex ;
        margin-top: 40px;
        justify-content: space-between;
        gap: 70px;
}
header ul{margin-top: 20px;
}
h1{font-size: 50px;
    color: rgb(14, 156, 223);
    margin-left: 30px;

}
header ul li{display: inline;
             margin-right: 5rem;
             
} 
header ul li a{text-decoration: none;
               font-size: 13px;
               color: white;
               padding:15px;
               font-weight: bolder;
}
header ul li a:hover{cursor: pointer;
                     color:rgb(14, 156, 223); 
}

.container{
           width:25rem;
           height:30rem;
           margin-top: 50px;
           margin-left: auto;
           margin-right: auto;
           background: #252323;
           box-shadow:  #443f3f 5px  5px 15px 5px;
}

h2{ text-align: center;
    padding-top: 2.3rem;
    font-size: 40px;
    color: rgb(14, 156, 223);
}
form button { display: block;

}

form span {display: block;
          
}
span ,input {padding: 20px;             
}

span{ font-size: 20px;
     color: white;
     font-weight: 300;
     padding-left:30px;
     font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
     padding-bottom: 5px;
}
input{font-size: 15px;
      width: 20rem;
      height: 20px;
      margin-left: 25px;
      background: transparent;
      border-width: 0 0 1px 0;
      border-color: white;
      color: white;
}

input:focus{outline: none;

}
button {margin: 40px auto;
        font-size: 15px;
        height: 40px;
        width:10rem;
        border-radius: 10px;
        border: none;
        background-color:#47a1b8 ;
        font-weight: 600;
        padding: 10px;
}
button:hover{opacity:0.7;

}
.forgotlink a{text-decoration: none;
             font-size: 20px;
}
.forgotlink a:hover{text-decoration: underline;
}
.others{display: flex;
        gap: 10rem;
        
}
.signuplink a{font-size: 20px;
              padding-left: 5px;
              color: beige;
              text-decoration: none;
}
.signuplink a:hover{text-decoration: underline;

}